@import "~bootstrap/scss/bootstrap.scss";
@import "variables.scss";

.text-d {
    color: $text-color;

    img {
        height: 40px;
        width: 40px;
    }

    ul li {
        transition: none;

        
        
        a {

            color: inherit;
            font-weight: 900;
            height: 100%;
            align-items: center;

            background-color: lighten($color: $brand-secondary-color, $amount: 5);

            display: flex;
            padding-top: 1rem;
            padding-bottom: 1rem;
            span {
                padding-left: 10px;
            }
            &:hover {
                background-color: rgba($color: $text-color, $alpha: 0.2);
            }


        }
    }

    .navbar-toggler {
        border-color: rgba($color: $text-color, $alpha: 0.4);

        span {
            background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2730%27 height=%2730%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28100, 20, 50, 60%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
        }
    }

    .navbar-collapse {
        // border: 1px solid $brand-primary-color;

    }

}

@media (min-width: 992px) {
    .text-d {
        align-items: stretch;

        .navbar-collapse {
            border: unset;
            background-color: unset;
            padding: 0;
            align-items: stretch;
        }

        ul li {


            a {

                border-radius: 30px;
                transition: 300ms;
                border-left: 4px solid rgba($color: $text-color, $alpha: 0.2);
                border-right: 4px solid rgba($color: $text-color, $alpha: 0.2);
                border-top: 1px solid rgba($color: $text-color, $alpha: 0.1);
                border-bottom: 1px solid rgba($color: $text-color, $alpha: 0.1);
                background-color: rgba($color: $text-color, $alpha: 0.7);
                text-shadow: 2px 0 $text-color, -2px 0 $text-color, 0 2px $text-color, 0 -2px $text-color,
                    1px 1px $text-color, -1px -1px $text-color, 1px -1px $text-color, -1px 1px $text-color;
                color: white;

                span {
                    text-align: center;
                    flex-grow: 1;
                    padding-left: 0;

                }

                &:hover {
                    color: $text-color;
                    text-shadow: 2px 0 $brand-secondary-color, -2px 0 $brand-secondary-color, 0 2px $brand-secondary-color, 0 -2px $brand-secondary-color,
                        1px 1px $brand-secondary-color, -1px -1px $brand-secondary-color, 1px -1px $brand-secondary-color, -1px 1px $brand-secondary-color;
                    background-color: rgba($color: $text-color, $alpha: 0.2);


                }
            }
        }
    }
}